<div id="color_<%= color.id %>">



    <%# if user_signed_in? %>
    <%# if comment.user_id == current_user.id %>
    <%#= link_to '修改', edit_blog_comment_path(@blog,comment) %>
    <%#= link_to '删除', comment, method: :delete, data: confirm: 'Are you sure?' } %>
    <%# else %>
    <!--        您不是评论作者无权修改或删除-->
    <%# end %>
    <%# else %>
    <!--      您未登录无权修改或删除-->
    <%# end %>

  <div class="row">
    <div class="col-xs-3 col-lg-3 col-md-3 col-sm-3">
      <strong>颜色</strong>
      <span style="background-color: <%=color.rgb %>" id="color" class="color-block">
        &nbsp&nbsp&nbsp&nbsp&nbsp
      </span>
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">颜色说明：<%= color.description %></div>
  </div>
</div>